.wrapper_of_components {
  .test {
    background-color: red !important;
  }
  .super_link {
    background-color: blue;
  }
  .supersonic {
    color: palegreen;
    background-color: orange !important;
  }
  .tteess {
    background-color: red;
  }
}
